@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f0f2f5;
}

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 38 92% 50%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 210 10% 52%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 40 90% 95%;
    --accent-foreground: 38 92% 30%;
    --destructive: 350 78% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 38 92% 50%;
    --radius: 0.8rem;

    --brand-red: 350 80% 55%;
    --brand-blue: 220 80% 60%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 38 92% 50%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 210 10% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 80% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 38 92% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
